In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("input/data.csv")
display(df.head())

,Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,Longitude of GEO (degrees),...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,3Cat-1,NR,Spain,Universitat Politècnica de Catalunya,Civil,Technology Development,NaN,LEO,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aalto-1,Finland,Finland,University of Aalto,Civil,Technology Development,NaN,LEO,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAUSat-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,-75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Compruebo el porcentaje de datos nulos por columna:

In [19]:
vNulo = (100*df.isnull().sum()/len(df)).round(1)
PN = pd.DataFrame(vNulo).rename(columns = {0 : '% de nulos'})
display(PN)

                                    % de nulos
Current Official Name of Satellite         0.0
Country/Org of UN Registry                 0.0
Country of Operator/Owner                  0.0
Operator/Owner                             0.0
Users                                      0.0
...                                        ...
Unnamed: 60                               99.9
Unnamed: 61                              100.0
Unnamed: 62                              100.0
Unnamed: 63                              100.0
Unnamed: 64                               99.9

[65 rows x 1 columns]

## Elimino columnas cuyos valores nulos sean más del 80%

In [20]:
for col in df.columns:
    if vNulo[col] >= 80:
        df.drop(col, axis=1, inplace=True)

In [21]:
df

,Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,Longitude of GEO (degrees),...,Country of Contractor,Launch Site,Launch Vehicle,COSPAR Number,NORAD Number,Comments,Source Used for Orbital Data,Source,Source.1,Source.2
0,3Cat-1,NR,Spain,Universitat Politècnica de Catalunya,Civil,Technology Development,NaN,LEO,NaN,0.0,...,Spain,Satish Dhawan Space Centre,PSLV,2018-096K,43728,Student built.,Estimated,https://spaceflightnow.com/2018/11/29/indian-r...,NaN,NaN
1,Aalto-1,Finland,Finland,University of Aalto,Civil,Technology Development,NaN,LEO,NaN,0.0,...,Finland,Satish Dhawan Space Centre,PSLV,2017-036L,42775,Technology development and education.,JMSatcat/10_17,https://directory.eoportal.org/web/eoportal/sa...,http://www.planet4589.org/space/log/satcat.txt,NaN
2,AAUSat-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,0.0,...,Denmark,Guiana Space Center,Soyuz 2.1a,2016-025E,41460,Carries AIS system.,Space50,http://spaceflightnow.com/2016/04/26/soyuz-bla...,http://space50.org/objekt.php?mot=2016-025E&ja...,NaN
3,ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,75.0,...,USA,Guiana Space Center,Ariane 5 ECA,2014-006A,39508,"32 C-band, 51 Ku-band, and 6 Ka-band transpond...",ZARYA,http://www.absatellite.net/satellite-fleet/?sa...,http://www.zarya.info/Diaries/Launches/Launche...,http://www.absatellite.net/2010/10/13/asia-bro...
4,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,-75.0,...,USA,Cape Canaveral,Falcon 9,2016-038A,41588,NaN,Estimated,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2213,OVS-3,NR (11/19),China,Zhuhai Orbita Control Engineering Co. Ltd.,Commercial,Earth Observation,Video,LEO,Sun-Synchronous,0.0,...,China,Jiuquan Satellite Launch Center,Long March 11,2019-060A,44534,NaN,JMSatcat/11_19,https://spaceflightnow.com/2019/09/19/five-chi...,https://www.planet4589.org/space/log/satcat.txt,NaN
2214,Ziyuan 1-02C,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,0.0,...,China,Taiyuan Launch Center,Long March 4B,2011-079A,38038,Can acquire high-resolution data through remot...,SC - ASCR,http://www.tmcnet.com/usubmit/2011/12/22/60133...,http://www.lib.cas.cz/space.40/2011/079A.HTM,NaN
2215,Ziyuan 1-2D,NR (11/19),China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Hyperspectral Imaging,LEO,Sun-Synchronous,0.0,...,China,Taiyuan Launch Center,Long March 4B,2019-059A,44528,Hyperspectral imaging,JMSatcat/11_19,https://spaceflightnow.com/2019/09/12/china-la...,https://www.planet4589.org/space/log/satcat.txt,NaN
2216,Ziyuan 3,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,0.0,...,China,Taiyuan Launch Center,Long March 4B,2012-001A,38046,Land survey satellite.,www.spacedebris.net 12/12,http://www.spaceflightnow.com/news/n1201/09lon...,http://www.nasaspaceflight.com/2012/01/china-o...,NaN
2217,Ziyuan 3-2,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,0.0,...,China,Taiyuan Launch Center,Long March 4B,2016-033A,41556,Thought to be for intelligence gathering.,Space50,http://spaceflightnow.com/2016/05/31/long-marc...,http://spaceflights.news/?p=35647,http://space50.org/objekt.php?mot=2016-033A&ja...

## También elimino columnas cuyos valores no me interesan:

In [22]:
lista = ['Class of Orbit',
         'Type of Orbit',
         'Longitude of GEO (degrees)',
         'Perigee (km)',
         'Apogee (km)',
         'Eccentricity',
         'Inclination (degrees)',
         'Launch Mass (kg.)',
         'Dry Mass (kg.)',
         'Power (watts)',
         'COSPAR Number',
         'Comments',
         'Source Used for Orbital Data',
         'Source',
         'Source.1',
         'Source.2',
         'Detailed Purpose',
         'Expected Lifetime (yrs.)']

for e in lista:
    df.drop(e, axis=1, inplace=True)

## Y renombro algunas de ellas para facilitar la legibilidad:

In [23]:
df.columns=(['Official Name', 'Country/Org of UN Registry',
       'Country of Operator', 'Operator', 'Users', 'Purpose',
       'Period (minutes)', 'Date of Launch', 'Contractor',
       'Country of Contractor', 'Launch Site', 'Launch Vehicle',
       'NORAD Number'])

## Añado una columna 'Year' con la fecha de lanzamiento:

In [24]:
import re

def extractYear(x):
    year = re.findall(r'[\d*]{4}', x)
    return year[0]
    
df["Year"] = (df["Date of Launch"]).apply(extractYear)
df

,Official Name,Country/Org of UN Registry,Country of Operator,Operator,Users,Purpose,Period (minutes),Date of Launch,Contractor,Country of Contractor,Launch Site,Launch Vehicle,NORAD Number,Year
0,3Cat-1,NR,Spain,Universitat Politècnica de Catalunya,Civil,Technology Development,95,11/29/2018,Universitat Politècnica de Catalunya,Spain,Satish Dhawan Space Centre,PSLV,43728,2018
1,Aalto-1,Finland,Finland,University of Aalto,Civil,Technology Development,94.7,6/23/2017,University of Aalto,Finland,Satish Dhawan Space Centre,PSLV,42775,2017
2,AAUSat-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,95.9,4/25/2016,University of Aalborg,Denmark,Guiana Space Center,Soyuz 2.1a,41460,2016
3,ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,1436.03,2/6/2014,Space Systems/Loral,USA,Guiana Space Center,Ariane 5 ECA,39508,2014
4,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,1436.1,6/15/2016,Boeing Satellite Systems,USA,Cape Canaveral,Falcon 9,41588,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2213,OVS-3,NR (11/19),China,Zhuhai Orbita Control Engineering Co. Ltd.,Commercial,Earth Observation,94.6,9/19/2019,Zhuhai Orbita Control Engineering Co. Ltd.,China,Jiuquan Satellite Launch Center,Long March 11,44534,2019
2214,Ziyuan 1-02C,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,100.2,12/22/2011,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,38038,2011
2215,Ziyuan 1-2D,NR (11/19),China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,99.8,9/14/2019,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,44528,2019
2216,Ziyuan 3,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,94.7,1/9/2012,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,38046,2012
2217,Ziyuan 3-2,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,94.49,5/29/2016,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,41556,2016

## Compruebo la cantidad de valores nulos por columna

In [25]:
def v_nulo(df):
    
        vNulo = df.isnull().sum()
        vNulo_percent = 100 * df.isnull().sum() / len(df)
        vNulo_table = pd.concat([vNulo_percent, vNulo], axis=1)
        vNulo_table_ren_columns = vNulo_table.rename(columns = {0 : '%', 1 : 'Valores Nulos'})
        
        vNulo_table_ren_columns = vNulo_table_ren_columns[vNulo_table_ren_columns.iloc[:,1] != 0].sort_values(
        '%', ascending=False).round(1)
        
        print ("Tu dataframe tiene " + str(df.shape[1]) + " columns.\n"      
            "Hay " + str(vNulo_table_ren_columns.shape[0]) +
              " columnas con valores nulos.")
        
        return vNulo_table_ren_columns

In [26]:
v_nulo(df)

Tu dataframe tiene 14 columns.
Hay 0 columnas con valores nulos.

Empty DataFrame
Columns: [%, Valores Nulos]
Index: []

## Exporto el dataframe como archivo .csv a la carpeta 'input'

In [27]:
df.to_csv (r'input/df.csv', index=False)